body {
  background: #ddd;
  font-family: Helvetica, Arial, Sans-Serif;
}

.container-auth-login {
  width: 340px;
  margin: 8vh auto 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}